{% extends 'resources/base.html' %}
{% load static %}
<!-- HEAD CONTENT -->
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}All Resources{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/all_resources_styles.css' %}">
{% endblock %}
<!-- BODY CONTENT -->
{% block content %}
    <!--===== Hero Section =====-->
    <section class="hero" style="background: linear-gradient(to bottom right, #7a65e4, #023892);position: relative;">
      <div class="container" style="position:absolute; left: 150px;top:200px; width:50%;">
      </div>
    </section>
    <!-- SUBHERO -->
    <section class="header-info" id="header-info">
        <img src="{% static 'media/resource-4.png' %}" alt="text-here" style="width:100%;">
    </section>
    <!-- Category section -->
  <section class="category" id="category" style="background-color:#f8f9fa;padding:60px 0;">
    <h2 class="category-title" style="text-align:center;margin-bottom:40px;">Categories</h2>
    <div class="container">
      <div class="row">
        <ul class="list-group" style="display:flex;flex-direction:row;flex-wrap:wrap;gap:10px;align-items:stretch;">
          {% for item in category %}
          <a href="{{ item }}" style="text-decoration:none;">
            <li class="list-group-item" style="border:none;font-size:18px;width:200px;">
              <div style="display:flex; justify-content:space-between; align-items:center;">
                <h2 style="font-size:14px;margin:0;">{{ item.category_name }}</h2>
                <span class="badge bg-primary rounded-pill" style="font-size:14px;padding:8px 12px;margin-left:10px;">{{ item.resource_count }}</span>
              </div>
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <!-- Featured resources section -->
  <section class="featured-resources" id="featured-resources">
    <div class="container-lg">
      <div class="text-center">
        <h2>Featured Resources</h2>
        <p class="lead text-muted">Our most popular resources choosen by our community</p>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row" style="padding-left: 100px;">
        {% for item in resource %}
          <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;height:400px;margin-bottom:20px;">
              <div class="card-body text-center" style="overflow:hidden;height:300px;"> 
                <h5 class="card-title" style="height:50px;overflow:hidden;">{{ item.title }}</h5>
                <p class="card-text"><small class="text-muted"><i class="fas fa-calendar-alt"></i>{{ item.date_published|date:"F d, Y" }}<i class="fas fa-eye"></i>1000</small></p>
                <p class="card-text" style="height:150px;overflow:hidden;">{{ item.description|slice:":300" }}</p>
                <p class="card-text"><small class="text-muted">{{ item.category.category_name }}</small></p>
                <a href="{{ item.url }}" class="card-link" style="display:inline-block;padding:10px 20px;background-color:blue;color:#fff;border-radius:50px;text-decoration:none;font-size:16px;font-weight:bold;text-align:center;margin-top:0.5rem;">View</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div> 
  </section>
{% endblock%}